# Environment variable file
.env

# Visual Studio Code
.vscode/

# Django migrations
*/migrations/

# Build artifacts
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Static and media files
staticfiles/
media/

#node_modules
frontend/compiler/node_modules